.nav-item:hover{
    transform: scale(1.50);
    transition: all .4s ease-out;    
}
@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(235, 241, 241, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(243, 248, 245, 0);
    }
}