body{
    
    margin: 0%;
    padding: 0%;
    height: 100%;
    background-image: url(../imagenes/INICIO\ IMAGEN.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
@media (max-width: 576px) {
    body {
        background-size: contain; 
        background-position: center; 
        background-repeat: no-repeat;
        background-color: black;
        background-image: url(../imagenes/INICIO\ IMAGEN.jpg);
    }
}