footer {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    margin: 20px; 
    top: 50%; 

    @media (max-width: 576px) {
        font-size: 10px;
        flex-direction:unset; 
        align-items:center; 
        padding-top: 400px; 
    }
}
.boton-contenedor {
    background-color: #2e6329;
    border: 5px solid #fff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 0px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
    width: 90px; 
    height: 90px;
    @media (max-width: 576px) {
        width: 90px; 
        height: 85px;
        bottom: 40px;
        right: 20px; 
    }
}
.boton {
    width: 600%; 
    height: 75%; 
    border-radius: 50%; 
}
.boton:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
@media (max-width: 576px) {
    .boton {
        width: 150%;
        height: 75%;
        padding: 0px; 
    }
    .boton:hover {
        transform: none; 
    }
}
a {
    color: white; 
    justify-content:center;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    display: block;
    font-weight: bold;
    padding: 10px;
    margin-right: 50px;
 }
 @media (max-width: 576px) {
    a {
        font-size: 16px; 
        margin-right: 20px; 
    }
}